body {
    background:white;
}

.selections {
	display: flex;
	width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.game{
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
}

h2{
	margin-top: 1rem;
	display: flex;
	font-size: 1rem;
}
	

.title {
	display: flex;
	font-size: 4rem;
}

.move {
	display: flex;
	font-size: 2rem;
	margin-top: 1.5rem;
	
}

#result{
	margin-top: 1rem;
	display: flex;
	font-weight: bold;
	font-size: 1rem;
}
	


.rock, .paper, .scissors{
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}